.animal-list-container {
  display: flex;
  flex-wrap: wrap;
}

.animal-card {
  align-items: flex-start;
  background-color: #000;
  border: 3px solid #fff;
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 20px;
  max-width: 300px;
  margin: 20px 10px;
  overflow: scroll;
  width: 100%;
}

.animal-card img {
  align-self: center;
  border-radius: 20px;
  height: 170px;
  width: 100%;
}

.animal-card-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  margin: 0px auto;
  width: 90%;
}

.animal-card-top-content {
  line-height: 2.5;
}

.animal-card-bottom {
  line-height: 2.5;
  padding: 20px;
}

.animal-card button {
  background-color: #ace;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 44px;
  margin: 3px 0px;
  outline: none;
  text-shadow: 0px 1px 1px #000;
  width: 65px;
}

.animal-card button:hover {
  border: 1px solid #aaa;
}
