@import url('main.css');
@import url('navbar.css');
@import url('searchfor.css');
@import url('adoption-info.css');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
}
