.search-form-wrapper {
  align-items: center;
  background: #ace;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  margin-top: 15px;
  padding: 25px;
  margin: 0px auto;
}

.search-form-wrapper span {
  color: #fff;
  font-size: 20px;
  padding-left: 5px;
  text-shadow: 0px 1px 1px #000;
}

#search-for-pets-wrapper,
#search-for-shelter-wrapper {
  height: 200px;
  width: 300px;
}

.autocomplete-input {
  background-color: #aec;
  border: none;
  height: 53px;
  font-size: 17px;
  margin-top: 10px;
  padding-left: 20px;
  outline: none;
  width: 100%;
}

.search-form-wrapper p {
  color: #fff;
  font-size: 21px;
  padding: 5px;
  text-shadow: 0px 1px 1px #000;
}

.search-form-wrapper select {
  font-size: 15px;
  height: 50px;
  width: 70px;
}

.search-form-wrapper button {
  background-color: #aec;
  border: none;
  outline: none;
  margin-top: 20px;
  height: 55px;
  width: 132px;
}

.search-form-wrapper button:hover {
  background-color: #ace;
  border: 2px solid #000;
  transition: all 0.5s;
}
